<h2>Add Person</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >
  <labe for="name">Name: </labe>
  <input type="text" name="name" id="name" formControlName="name">
  <labe for="email">Email: </labe>
  <input type="text" name="email" id="email" formControlName="email">
  <label for="gender">Select Gender:</label>
  <select name="gender" id="gender" formControlName="gender">
    <option value="Male">Male</option>
    <option value="Male">Female</option>
  </select>
  <button type="submit">Add</button>
</form>
